
:root{
    --primary-color:#7534b3;
    --background-primary-grey:#f1f1f1;
    --background-white :#fff;
    --background-primary-light: #c7a8e4;
    --text-primary-dark:#222222;
    --text-primary-white:#fff;
    --text-secondary-dark:#686868;
    --backgraund-secondary-grey:#faf7fc;
    --primary-border-grey:#dee2e7;
}
main{
    padding: 2rem 5%;
    background-color: var(--backgraund-secondary-grey);
}
.sales_section{
    display: flex;
    justify-content: space-between;
}
.filter_separator{
    width: 100%;
    height: 2px;
    background-color: var(--background-primary-grey);
}
.filter_section{
    display: flex;
    flex-direction: column; 
    width: 20%;
}
.categories_dropdown_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.categories_dropdown{
    display: none;
}
.categories_dropdown_show{
    display: flex;
    flex-direction: column;
}
.categories_dropdown_container > button {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary-dark);
    font-weight: 600;
    font-size: 16px;
    margin: 12px 0;
    cursor: pointer;
}
.categories_dropdown_show > button{
    background: none;
    border: none;
    color: var(--text-secondary-dark);
    font-size: 16px;
    margin: 3px 0;
    text-align: start;
    cursor: pointer;
}
.categories_dropdown_button_arrow_show{
    transform: rotate(180deg);
}
.categories_dropdown_container > button > img{
    transition: 0.3s;
}
.product_section{
    width: calc(80% - 20px);
}
.product_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--background-white) ;
    padding: 10px 20px;
    border: 1px solid var(--background-primary-grey);
    border-radius: 5px;
}
.products_style_buttons{
    border: 1px solid var(--background-primary-grey);
    border-radius: 5px;
    display: flex;
}
.products_style_buttons > button{
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
}
.products_style_button_list{
    background: var(--background-primary-grey);
}
.products_style_button_list_active{
    background: none;
}

.products_style_button_card{
    background: none;
}
.products_style_button_card_active { 
    background: var(--background-primary-grey);
}
.product_list{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.product_row{
    width: 100%;
    display: flex;
    background: var(--background-white);
    border: 1px solid var(--background-primary-grey);
    padding: 20px;
    border-radius: 5px;
}
.product_row_img {
    width: 200px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.product_row_img > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.product_row_content{
    flex: 1;
}
.product_row_content > h2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    
}
.product_row_price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.product_row_description{
    font-size: 15px;
    color: var(--text-secondary-dark);
    margin-bottom: 5px;
}
.product_row_content > button {
    background: none;
    border: none;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
}
.product_card {
    width: calc(100% / 3 - 52px);
    background-color: var(--background-white);
    border: 1px solid var(--background-primary-grey);
    border-radius: 10px;
    padding: 20px;
}
.product_card_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 10px;
}
.product_card_img > img {
    max-width: 100%;
    max-height:100% ;
}
.product_card_price {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.product_card_content > h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.product_card_content > button {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    border: 0;
    background: none;
}
.cart_section > h3{
    color: var(--text-primary-dark);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 20px;
}
.cart_container{
    display: flex;
    justify-content: space-between;
}
.cart_product_container{
    background-color: var(--background-white);
    height: fit-content;
    width: calc(75% - 20px);
    border-radius: 6px;
    padding: 20px;
    border: 1px solid var(--primary-border-grey);
    margin-right: 20px;
}
.cart_product_card{
    display: flex;
    justify-content: space-between;
}
.cart_product_info{
    display: flex;
}
.cart_product_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 5px;
    border: 1px solid var(--primary-border-grey);
    border-radius: 5px;
}
.cart_product_img > img{
    max-width: 100%;
    max-height: 100%;
}
.cart_product_title{
    margin-left: 10px;
}
.cart_product_title > h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-primary-dark);
}
.cart_product_title > button{
    border: 1px solid var(--primary-border-grey);
    background: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: red;
    font-weight: 500;
    font-size: 13px;
    transition: 0.3s;
}
button:hover{
    background-color: var(--background-primary-grey);
}
.cart_product_pricing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cart_product_pricing > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
}
.cart_product_counter{
    border: 1px solid var(--primary-border-grey);
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.cart_product_counter > button {
    border: none;
    background: none;
    font-weight: 500;
    cursor: pointer;
}
.cart_product_counter > span {
    margin: 0 5px;
}
.cart_separator{
    display: flex;
    height: 1px;
    width: 100%;
    background: var(--primary-border-grey);
    margin: 20px 0 ;
}
.cart_product_footer{
    display: flex;
    justify-content: flex-end;
}
.cart_product_footer > button {
    border: 1px solid var(--primary-border-grey);
    background: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}
.cart_product_footer > button:hover{
    background-color: var(--background-primary-grey);
}
.cart_checkout{
    background-color: var(--background-white);
    width: 25% ;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid var(--primary-border-grey);
    height: fit-content;
}
.cart_checkout_subtotal{
    display: flex;
    justify-content: space-between;
}
.cart_checkout_subtotal > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.cart_checkout_subtotal > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.cart_checkout_total{
    display: flex;
    justify-content: space-between;
}
.cart_checkout_total > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.cart_checkout_total > span{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.2px;
}
.cart_checkout > button{
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    padding: 15px 0;
    background-color: var(--primary-color);
    color: var(--text-primary-white);
    border: 1px solid var(--primary-border-grey);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.cart_checkout > button:hover{
    opacity: 0.7;
}

/* cart de carro vacio */

.cart_empty{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart_empty > img {
    width: 90px;
}
.cart_empty > p {
    margin-top: 10px;
    font-size: 16px;
    color: var(--text-secondary-dark);
    font-weight: 600;
}





















